<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati pariatur deserunt odio quibusdam adipisci minima quis, mollitia in labore omnis provident est nesciunt recusandae aspernatur atque non ad exercitationem voluptates.</p>
<h2>Complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="nombre">
</form>